<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <style>
        .account {
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="account">
        <h2>Signup</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Signup</button>
        </form>
    </div>
</body>
</html>